@import "tailwindcss";

/* Custom Scrollbar */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  @apply bg-blue-100 rounded-full;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-blue-400 rounded-full;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-500;
}
